.grid-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
  }
  
  .list-table {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  
