.grid-container {
  
  width: 300px;

  padding: 1rem;
  background-color: var(--darkgrey);
  border-radius: 0.8rem;
  border: 2px solid var(--darkgrey);
  display: flex;
  flex-direction: column;
  
}
.grid-container:hover{
  border: 2px solid var(--green);
  transition: all 0.3s; 
}

.grid-container-red:hover {
  border: 2px solid var(--red)!important;
  transition: all 0.3s;
}

.info-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1.5rem;
}
.coin-logo {
  height: 3.5rem;
  width: 3.5rem;
}

.coin-symbol {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
.name-col {
  display: flex;
  flex-direction: column;
}
.coin-name {
  color: var(--grey);
  text-transform: uppercase;
  font-weight: light;
  font-size: 1rem;
  margin: 0;
}
.chip-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin: 1rem 1.5rem;
}
.price-chip {
  border: 2px solid var(--green);
  padding: 0.35rem 1.25rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--green);
}
.price-chip:hover,.icon-chip:hover{
     background-color: var(--green);
        color: var(--white);
           transition: all 0.3s;
}
.chip-red {
  border: 2px solid var(--red);
  color: var(--red);
}
.chip-red:hover, .icon_chip_red:hover{
  background-color: var(--red)!important;
  color: var(--white)!important;
     transition: all 0.3s;
}
.icon-chip {
  border: 2px solid var(--green);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  color: var(--green);
}


.icon_chip_red{
  border: 2px solid var(--red);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  color: var(--red);
}
.info-container{
     margin: 1.5re,;
}


 .coin-price{
    color: var(--green);
       font-size: 1.2rem;
         font-weight: 600;
 }

 .total-volume{
     color: var(--grey);
        font-size: 0.8rem;
        font-weight: 500;
 }